﻿@model EmailService.DTO.Models.EmailDataDto
@{
    ViewData["Title"] = "Test Sending emails";
}

<h1>@ViewData["Title"]</h1>
<form method="post" enctype="multipart/form-data" action="~/api/sendmail">
    <div>
        <label for="Subject">Subject:</label>
        <input name="Subject" />
    </div>

    <div>
        <label for="From.Email">From Email:</label>
        <input type="email" name="From.Email" value="" /><br />
        <label for="From.Name">From Name:</label>
        <input type="text" name="From.name" value="" />
    </div>

    <div>
        <label for="Tos.Email">To Email:</label>
        <input type="email" name="Tos[0].Email" value="" /><br />
        <label for="From.Name">To Name:</label>
        <input type="text" name="Tos[0].name" value="" />
    </div>

    <div>
        <label for="TextContent">Text content</label>
        <textarea name="TextContent"></textarea>
    </div>

    <div>
        <p>Upload one or more files using this form:</p>
        <input type="file" name="attachments" multiple />
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>

